<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="Console">
    <!-- On Windows machines setting withJansi to true enables ANSI
         color code interpretation by the Jansi library. This requires
         org.fusesource.jansi:jansi:1.8 on the class path.  Note that
         Unix-based operating systems such as Linux and Mac OS X
         support ANSI color codes by default. -->
    <!-- <withJansi>true</withJansi> -->
    <encoder charset="UTF-8">
      <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) - %gray(%msg%n) %ex{full}
      </pattern>
    </encoder>
  </appender>

  <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/viki-home.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>log/archived/viki-home.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder charset="UTF-8">
      <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) - %gray(%msg%n) %ex{full}
      </pattern>
    </encoder>
  </appender>

  <!-- FlywayDB -->
  <logger additivity="false" level="INFO" name="org.flywaydb">
    <appender-ref ref="Console"/>
    <appender-ref ref="File"/>
  </logger>

  <!-- JmDNS -->
  <logger additivity="false" level="INFO" name="javax.jmdns">
    <appender-ref ref="Console"/>
    <appender-ref ref="File"/>
  </logger>

  <!-- Netty -->
  <logger additivity="false" level="DEBUG" name="io.netty">
    <appender-ref ref="Console"/>
    <appender-ref ref="File"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="Console"/>
    <appender-ref ref="File"/>
  </root>

</configuration>